<a href="https://colab.research.google.com/github/amitporwal-data-science/Python-Programming/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet_person(name):
  return f"Goodmorning {name}"

In [ ]:
name = input()
greet_person(name)

manish

'Goodmorning manish'

In [ ]:
# positional arguments

def greet(name, message):
  return f"{name} - {message}"

name = input()
message = input()

greet(name,message)

Manish
Good morning!

'Manish - Good morning!'

In [ ]:
# keyword arguments

def greet(name, message):
  return f"{name} - {message}"


greet(message = 'How are you ?',name = 'Sam')

'Sam - How are you ?'

In [ ]:
# default arguments

def greet(name,messa = "Good morning"):
  return f"{name} - {messa}"


greet('Sam')

'Sam - Good morning'

In [ ]:
# ðŸ“Œ a. *args â†’ for multiple positional arguments


def add(*numbers):
    print(numbers)
    # total = 0
    # for num in numbers:
    #     total += num
    # print("Total:", total)

add(1, 2, 3, 4)  # Total: 10

(1, 2, 3, 4)

In [ ]:
# ðŸ“Œ b. **kwargs â†’ for multiple keyword arguments


def show_details(**info):
  print(info)
    # for key, value in info.items():
    #     print(key, ":", value)

show_details(name="Amit", age=25, city="Indore")

{'name': 'Amit', 'age': 25, 'city': 'Indore'}

In [ ]:
def fun1(x):
  1
  print(x)

x = input()
fun1(x)
#print(result)

amit
amit

In [ ]:
def add():
  x = int(input())
  y = int(input())
  z = x+y
  return z

add()

3
4

7

In [ ]:
def add1(x,y):
  z = x+y
  print(z)
  #return z

x = int(input())
y = int(input())

result  = add1(x,y)

print(result)

3
5
8
None

In [ ]:
def greet():
    print("Hello")

result = greet()
print(result)    # Output: Hello (from print), then None (from function return)

Hello
None

In [ ]:
def say_hello():
    return

result = say_hello()
print(result)    # Output: None

None

In [ ]:
def add(x,y,z):
  return x+y+z

add(z=1,y=2,x=3)

6

In [ ]:
def add(x,y,z):
  return x+y+z
  return x,y,z

add(1,2,3)

6

In [ ]:
l = [1,2,3,4,5,6,7,8]

a=list(map(lambda x: x**2,l))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
l = [1,2,3,4,5,6,7,8]

def square(x):
  return x**2

a=list(map(square,l))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
l = [1,2,3,4,5,6,7,8]

evens = list(filter(lambda x: x%2==0,l))
print(evens)

[2, 4, 6, 8]

# Write a function subtract(a, b) that subtracts b from a using positional arguments.

In [ ]:
def sub(a,b):
  c = a-b
  return (c)

a= int(input("first number is :"))
b= int(input("second number is :"))

output = sub(a,b)
print(f"output is {output}")

first number is :20
second number is :10
output is 10

In [ ]:
# using lambda fn

sub = lambda a,b : a-b

a = int(input())
b = int(input())
sub(a,b)

20
10

10

# Create a function greet(name, msg="Good Morning"). Try calling it with and without msg.

In [ ]:
def greet(name,msg="Good morning"):
  return f"{name} - {msg}"

name = input()

greet(name)

Amit

'Amit - Good morning'

# Define student(name, roll, grade). Call using keyword arguments in any order.

In [ ]:
def student(name,roll,grade):
  return f"{name}-{roll}-{grade}"

name = input()


student(name,grade = "A+",roll = "Accountant")

Lalit

'Lalit-Accountant-A+'

#Write def add_numbers(*args) that adds all numbers passed to it.

In [ ]:
def add(*args):
  a = 0
  for i in args:
    a+=i
  return a

add(1,2,3,4,5)

15

In [ ]:
# using lambda solve above problem

In [ ]:
def add(*args):
  return sum(args)

add(1,2,3,4,5)

15

# Write def profile(**info) to print key and value from passed details.

In [ ]:
def info(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}-{value}")

info(name = 'Amit', age = 25, city = 'Indore')

name-Amit
age-25
city-Indore

# Create a function info(name, age, city) that prints the user's details.

In [ ]:
def info(name,age,city):
  return f"{name}-{age}-{city}"

name = input()
age = int(input())
city = input()

info(name,age,city)

Amit
25
Kanpur

'Amit-25-Kanpur'

#Write a function power(base, exp=2) that returns base^exp.

In [ ]:
def power(base,exp=2):
  return base**exp

base = int(input())

power(base)

25

625

# Create vehicle(type, brand, color) and call using vehicle(color="Red", brand="Honda", type="Bike").

In [ ]:
def vehicle(type,brand,color):
  return f"{type}-{brand}-{color}"

vehicle(color="Red", brand="Honda", type="Bike")

'Bike-Honda-Red'

# Create def print_names(*names) that prints each name in a new line.

In [ ]:
def print_names(*names):
  for name in names:
    print(name)

print_names("Amit","Sam","Raj")

Amit
Sam
Raj

# Create def address(**kwargs) to accept street, city, and zip.

In [ ]:
def address(**kwargs):
  return kwargs

address(street = "123 Main St", city = "Anytown", zip = "12345")

{'street': '123 Main St', 'city': 'Anytown', 'zip': '12345'}

In [ ]:
def connect_to_db(host="localhost", port=3306, user="root", password="", db_name="test_db"):
    print(f"Connecting to database...")
    print(f"Host: {host}")
    print(f"Port: {port}")
    print(f"User: {user}")
    print(f"Password: {password}")
    print(f"Database: {db_name}")
    # In real use case, you'd use these values to connect using a library like mysql.connector or psycopg2

In [ ]:
connect_to_db(db_name = "my_db",password = "536272dg")

Connecting to database...
Host: localhost
Port: 3306
User: root
Password: 536272dg
Database: my_db

# extract the list of first letter from a sentence

In [ ]:
india = """Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[k] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is near Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia."""

In [ ]:
word_list = india.split(" ")


first_letter = [word[0] for word in word_list]
print(first_letter)

['B', 'b', 't', 'I', 'O', 'o', 't', 's', 't', 'A', 'S', 'o', 't', 's', 'a', 't', 'B', 'o', 'B', 'o', 't', 's', 'i', 's', 'l', 'b', 'w', 'P', 't', 't', 'w', 'C', 'N', 'a', 'B', 't', 't', 'n', 'a', 'B', 'a', 'M', 't', 't', 'e', 'I', 't', 'I', 'O', 'I', 'i', 'n', 'S', 'L', 'a', 't', 'M', 'i', 'A', 'a', 'N', 'I', 's', 'a', 'm', 'b', 'w', 'T', 'M', 'a', 'I']

In [ ]:
l = []
for word in word_list:
  l.append(word[0])
print(l)

['B', 'b', 't', 'I', 'O', 'o', 't', 's', 't', 'A', 'S', 'o', 't', 's', 'a', 't', 'B', 'o', 'B', 'o', 't', 's', 'i', 's', 'l', 'b', 'w', 'P', 't', 't', 'w', 'C', 'N', 'a', 'B', 't', 't', 'n', 'a', 'B', 'a', 'M', 't', 't', 'e', 'I', 't', 'I', 'O', 'I', 'i', 'n', 'S', 'L', 'a', 't', 'M', 'i', 'A', 'a', 'N', 'I', 's', 'a', 'm', 'b', 'w', 'T', 'M', 'a', 'I']

In [ ]:
def extract_first_letter(sentence):
  word_list = sentence.split(" ")
  first_letter = [word[0] for word in word_list]
  return first_letter

extract_first_letter(india)

['B',
 'b',
 't',
 'I',
 'O',
 'o',
 't',
 's',
 't',
 'A',
 'S',
 'o',
 't',
 's',
 'a',
 't',
 'B',
 'o',
 'B',
 'o',
 't',
 's',
 'i',
 's',
 'l',
 'b',
 'w',
 'P',
 't',
 't',
 'w',
 'C',
 'N',
 'a',
 'B',
 't',
 't',
 'n',
 'a',
 'B',
 'a',
 'M',
 't',
 't',
 'e',
 'I',
 't',
 'I',
 'O',
 'I',
 'i',
 'n',
 'S',
 'L',
 'a',
 't',
 'M',
 'i',
 'A',
 'a',
 'N',
 'I',
 's',
 'a',
 'm',
 'b',
 'w',
 'T',
 'M',
 'a',
 'I']

# factorial of a number

In [ ]:
def factorial(number):
  l = 1
  for i in range(1,number+1):
    l*=i
  return l

factorial(7)

5040

# Write a lambda function to square a number, then use it to square the number 7

In [ ]:
square = lambda x : x**2
square(7)

49

# Create a lambda function that checks if a number is even, then test it with the numbers 4 and 5.

In [ ]:
even = lambda x : x%2==0
even(5)

False

# Write a lambda function that takes two parameters and returns their sum. Test it with the values 10 and 20.

In [ ]:
addition = lambda a,b:a+b
addition(10,20)

30

# Create a lambda function that returns the length of a string, then use it to find the length of "Python".

In [ ]:
length = lambda x : len(x)

length('Python')

6

# Write a lambda function that converts a temperature from Celsius to Fahrenheit (formula: F = C * 9/5 + 32). Test it with 25Â°C.

In [ ]:
temp_conversion = lambda c : c* (9/5)+32
temp_conversion(25)

77.0

# Use map() with a lambda function to convert a list of temperatures in Celsius [0, 10, 20, 30, 40] to Fahrenheit.

In [ ]:
temp = [0,10,20,30,40] # tempreture in C

temp_new = tuple(map(lambda c : c *(9/5) +32,temp))

print(temp_new)

(32.0, 50.0, 68.0, 86.0, 104.0)

# Create a list of names ['alice', 'bob', 'charlie'] and use map() to capitalize each name.

In [ ]:
names =  ['alice', 'bob', 'charlie']

new_name = map(lambda x: x.capitalize(),names)

print(list(new_name))

['Alice', 'Bob', 'Charlie']

# Use map() to convert each number in the list [1, 2, 3, 4, 5] to its square root.

In [ ]:
li = [1,2,3,4,5]

square_root = map(lambda x : x**0.5,li)

print(list(square_root))

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

# Apply map() to convert a list of strings ['12', '34', '56', '78'] to integers.
\\

In [ ]:
l = ['12', '34', '56', '78']

str_to_int = list(map(lambda x : int(x),l))

print(str_to_int)

[12, 34, 56, 78]

# Use map() with a lambda function to get the length of each word in the list ['Python', 'is', 'awesome', 'and', 'powerful'].

In [ ]:
l = ['Python', 'is', 'awesome', 'and', 'powerful']

length = tuple(map(lambda x: len(x),l))

print(length)

(6, 2, 7, 3, 8)

# Use filter() with a lambda function to extract all even numbers from the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even = list(filter(lambda x: x%2==0,l))
print(even)

[2, 4, 6, 8, 10]

# Create a filter() function to find all strings that start with 'a' in the list ['apple', 'banana', 'avocado', 'grape', 'apricot'].

In [2]:
fruit = ['apple', 'banana', 'avocado', 'grape', 'apricot']

output = list(filter(lambda x: x.startswith('a'),fruit))
print(output)

['apple', 'avocado', 'apricot']

In [3]:
fruit = ['apple', 'banana', 'avocado', 'grape', 'apricot']

output = list(filter(lambda x: x[0]=='a',fruit))
print(output)

['apple', 'avocado', 'apricot']

# Use filter() to find all numbers greater than 50 in the list [32, 45, 67, 89, 12, 36, 75, 82]

In [4]:
l =  [32, 45, 67, 89, 12, 36, 75, 82]

a = list(filter(lambda x:x>50,l))

print(a)

[67, 89, 75, 82]

# Apply filter() to get all strings with length greater than 5 from the list ['Python', 'Java', 'C', 'JavaScript', 'Go', 'Kotlin'].

In [1]:
l =  ['Python', 'Java', 'C', 'JavaScript', 'Go', 'Kotlin']

a = list(filter(lambda x:len(x)>5,l))

print(a)

['Python', 'JavaScript', 'Kotlin']

# Use filter() with a lambda function to find all numbers divisible by both 2 and 3 in the list [6, 9, 12, 15, 18, 21, 24, 27, 30].

In [1]:
a =  [6, 9, 12, 15, 18, 21, 24, 27, 30]

b = list(filter(lambda x: x%2==0 and x%3==0,a))
print(b)

[6, 12, 18, 24, 30]