<a href="https://colab.research.google.com/github/amitporwal-data-science/Python-Programming/blob/main/lambda_and_Comprehensions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Use filter() with a lambda function to find all numbers divisible by both 2 and 3 in the list [6, 9, 12, 15, 18, 21, 24, 27, 30].

In [1]:
l  = [6, 9, 12, 15, 18, 21, 24, 27, 30]

a = list(filter(lambda x: x%2==0 and x%3==0, l))
print(a)

[6, 12, 18, 24, 30]

# Convert numbers to "even" or "odd" using map() with a conditional expression

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tags = list(map(lambda x : "even" if x%2==0 else "odd",numbers))
print(tags)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

# Categorize numbers as "low", "medium", or "high"

In [3]:
numbers = [5, 15, 25, 35, 45, 55]

category_tag = list(map(lambda x : "low" if x<20 else "medium" if x<40 else "high",numbers))
print(category_tag)

['low', 'low', 'medium', 'medium', 'high', 'high']

# create a user_define_function and pass into map() fn

In [6]:
def grade_assign(score):
  if score >= 90:
    return 'A'
  elif score >= 80:
    return 'B'
  elif score >= 70:
    return 'C'
  elif score >= 60:
    return 'D'
  else:
    return 'F'

scores = [85, 92, 78, 63, 95]

grades = list(map(grade_assign,scores))
print(grades)

['B', 'A', 'C', 'D', 'A']

# Transform data based on conditions

In [9]:
data = ["12", "error", "15", "20", "invalid"]

def convert_or_default(var,default = 0):
  if var.isdigit():
    return int(var)
  else :
    return default

result = list(map(convert_or_default,data))
print(result)

[12, 0, 15, 20, 0]

# Compare two lists and return relationship between corresponding elements

In [11]:
list1 = [10, 20, 30, 40, 70]
list2 = [5, 20, 35, 40, 55]

compare = list(map(lambda a,b: "equal" if a==b else "greater" if a>b else "small",list1,list2))
print(compare)

['greater', 'equal', 'small', 'equal', 'greater']

# list comprehension

# **Creating** a list of squares:

In [2]:
square = [x**2 for x in range(1,6)]
print(square)

[1, 4, 9, 16, 25]

# Filtering even numbers:

In [5]:
even = [x for x in range(0,12) if x%2==0]

print(even)

[0, 2, 4, 6, 8, 10]

# Transforming name in upper letters

In [6]:
names = ["Alice", "Bob", "Charlie"]

upper_names = [name.upper() for name in names]
print(upper_names)

['ALICE', 'BOB', 'CHARLIE']

In [7]:
names = ["Alice", "Bob", "Charlie"]

upper_names = map(lambda x: x.upper(),names)
print(list(upper_names))

['ALICE', 'BOB', 'CHARLIE']

# Creating a list with conditional values : even or odd

In [8]:
numbers = [1,2,3,4,5,6,7,8,9,10]

tags = ["even" if number%2==0 else "odd" for number in numbers]
print(tags)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

# Flattening a 2D list

In [12]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [num for row in matrix for num in row]
print(flattened)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l = []
for row in matrix:
  for num in row:
    l.append(num)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary comprehension

# Creating a dictionary of squares:

In [18]:
squares = {x:x**2 for x in range(2,10)}
squares

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Filtering keys based on a condition

In [24]:
original = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

even_values = {k:v for k,v in original.items() if v%2==0}
print(even_values)

{'b': 2, 'd': 4}

In [29]:
original = {'a': 1, 'b': 2, 'c': 8, 'd': 4}

even_values ={}

for k,v in original.items():
  if v%2==0:
    even_values[k]= v
print(even_values)

{'b': 2, 'c': 8, 'd': 4}

# Creating a dictionary from two lists

In [39]:
keys = ['name', 'age', 'job']
values = ['Alice', 28, 'Developer']
dicti = {}
for k,v in zip(keys,values):
  dicti[k] = v
print(dicti)

{'name': 'Alice', 'age': 28, 'job': 'Developer'}

In [40]:
keys = ['name', 'age', 'job']
values = ['Alice', 28, 'Developer']

dicti = {k:v for k,v in zip(keys,values)}
print(dicti)

{'name': 'Alice', 'age': 28, 'job': 'Developer'}

# Converting values in a dictionary:

In [41]:
temperatures_c = {'New York': 20, 'London': 15, 'Paris': 25}

temperatures_f = {city:temp*(9/5)+32 for city,temp in temperatures_c.items()}
print(temperatures_f)

{'New York': 68.0, 'London': 59.0, 'Paris': 77.0}

# Creating a frequency dictionary:

In [43]:
text = "hello world"

char_count = {char:text.count(char) for char in text}
print(char_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [46]:
text = "hello world"

char_count = {}

for char in text:
  if char in char_count:
    char_count[char] +=1
  else:
    char_count[char] = 1
print(char_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

# boolean

In [1]:
bool_var = False
type(bool_var)

bool