<a href="https://colab.research.google.com/github/amitporwal-data-science/Python-Programming/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**len()**

In [7]:
# check length of variable
fruit = "Apple"

print(len(fruit))

5

In [9]:
about_location = """
Pahalgam (Urdu pronunciation: [pɛɦɛlɡɑːm]) or Pahalgom (Kashmiri pronunciation: [pəhəlʲɡoːm]) is a town in Anantnag district of the Indian union territory of Jammu and Kashmir.\n It is located on the banks of Lidder River at an altitude of 2,200 m (7,200 ft) in the Vale of Kashmir. Pahalgam is the headquarters of the Pahalgam tehsil, one of the eleven tehsils in Anantnag district.
"""

In [11]:
print(len(about_location))

384

# Write a Python function that takes a name as input and returns a message saying "Your name has X characters" where X is the length of the name.

In [16]:
def name_length(name):
  return len(name)

name = input("what your name ? : My name is ")
name_length(name)

what your name ? : My name is Amit Porwal

11

# Create a function that checks if a password is at least 8 characters long. Return True if it meets the minimum length requirement and False otherwise.

In [20]:
def is_valid_length(password):
  return len(password) >=8

password = input("Enter your password :")

is_valid_length(password)

Enter your password :@$gfj676

True

# Write a function that returns the length of a string after removing all spaces.

In [23]:
def length_without_space(text):
  text_without_space = text.replace(" ","")
  return len(text_without_space)

text = input("Enter your text :")

length_without_space(text)

Enter your text :rvbg    685 d@ #5gf

13

#  Create a function that takes a sentence and returns a dictionary where keys are the words and values are their lengths.

In [29]:
def word_length(sentence):
  words = sentence.split()
  word_lengths = {}
  for word in words:
    word_lengths[word] = len(word)
  return word_lengths

sentence = input("Enter your sentence :")

word_length(sentence)

Enter your sentence :my name is amit

{'my': 2, 'name': 4, 'is': 2, 'amit': 4}

# Write a function that checks if a message is within the 280-character limit for a tweet. The function should return the message if it's within the limit, otherwise return the message truncated to 277 characters with "..." appended at the end.

In [33]:
def tweet_format(message):
  if len(message) <= 280:
    return message
  else:
    message_truncate = message[0:277]+"..."
    return message_truncate

message = input("Enter your message :")

tweet_format(message)

Enter your message :Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.

'Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.'

# Write a function that takes multiple strings as arguments and returns the total combined length of all strings.

In [36]:
def total_length(*strings):
  total  = 0
  for string in strings:
    total += len(string)
  return total

total_length("Hello","World")

10

In [58]:
string[0]

'H'

# format values in 2 digits after decimal using f string

In [69]:
pi = 3.14159

f"{pi:.2f}"

'3.14'

# strip fn

# Write a function that removes all leading and trailing whitespace from a given string and returns the cleaned string and its new length.

In [77]:
def clean_string(string):
  cleaned = string.strip()
  return cleaned, len(cleaned)

string = input("Enter you string :")

output = clean_string(string)
print(output)

Enter you string :amit porwal
('amit porwal', 11)

# Create a function that removes specific characters from both ends of a string. The function should take a string and a set of characters to remove.

In [79]:
def strip_chars(text,chars_to_remove):
  text = text.strip(chars_to_remove)
  return text

text = input("Enter your text :")
chars_to_remove = input("Enter your chars to remove :")

strip_chars(text,chars_to_remove)

Enter your text :%%%helloworld%%%%%%%%%%%%%
Enter your chars to remove :%

'helloworld'

# Write a function that takes a list of strings, removes all leading and trailing whitespace from each string, and returns a new list with the cleaned strings. Additionally, your function should exclude any strings that become empty after stripping.

In [81]:
countries = ["  india ","  srilanka   ", "    ", "Myanmar"," Cambodia  ","    China"]

new_countries = [country.strip() for country in countries if country.strip()!='']
print(new_countries)

['india', 'srilanka', 'Myanmar', 'Cambodia', 'China']

In [82]:
def clean_string_list(string_list):
  new_list = []
  for text in string_list:
    if text.strip() !='':
      new_list.append(text.strip())
  return new_list

string_list = ["  india ","  srilanka   ", "    ", "Myanmar"," Cambodia  ","    China"]

clean_string_list(string_list)

['india', 'srilanka', 'Myanmar', 'Cambodia', 'China']

# split()

In [90]:
sentence = "python is fun language"

lis = sentence.split(' ',2)

print(lis)

['python', 'is', 'fun language']

In [92]:
data = "name:John;age:30;job:developer"

customer_data = data.split(';')

for item in customer_data:
  key,value = item.split(':')
  print(f"{key}:{value}")

name:John
age:30
job:developer

In [99]:
multiline = """First line
Second line
Third line"""

print(multiline.splitlines())

['First line', 'Second line', 'Third line']

# python indexing

In [114]:
sentence = "i am learning python"

sentence[-1:-6]

''

In [107]:
sentence[3]

'm'

In [117]:
a = id(sentence)

print(a)

133260128939552

In [118]:
sentence = sentence.lower()

a = id(sentence)

print(a)

133260128940672

In [119]:
print(sentence)

i am learning python

In [125]:
lis = [1,2,3,4]
print(id(lis))

133260129247616

In [126]:
id(lis)

133260129247616

In [127]:
lis = [5,6,7,8]
print(id(lis))

133260130531648

# python slicing

# Given data = [5, 10, 15, 20, 25, 30, 35, 40], write a slice expression to get [30, 20, 10].

In [5]:
# method 1
data = [5, 10, 15, 20, 25, 30, 35, 40]

data[5:0:-2]

[30, 20, 10]

In [4]:
# method 2
reverse = data[::-1]

reverse[2::2]

[30, 20, 10]

# Given text = "Python is a versatile language", use slicing to return every third character from the string, starting from the second character.

In [6]:
text = "Python is a versatile language"

text[1::3]

'yoiaeallgg'

# Given matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], use slicing to extract the diagonal elements.

In [7]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [9]:
elements = []

for i in range(len(matrix)):
  elements.append(matrix[i][i])

print(elements)

[1, 5, 9]

In [10]:
elements = [matrix[i][i] for i in range(len(matrix))]
print(elements)

[1, 5, 9]

# check a string is palindrome or not

In [15]:
string = 'racecar'

if string == string[::-1]:
  print("palindrome")
else:
  print("not palindrome")

palindrome

# With message = "Python is amazing", create a slice that returns every character at even indices.

In [16]:
message = "Python is amazing"

In [17]:
message[::2]

'Pto saaig'

In [19]:
message = "Python is amazing"
even_indices = list(range(0, len(message), 2))
print(even_indices)
even_chars = ''.join([message[i] for i in even_indices])
print(even_chars)  # Output: "Pto saai"

[0, 2, 4, 6, 8, 10, 12, 14, 16]
Pto saaig

# index and find

# What is the main difference between index() and find() when the substring is not found?

In [21]:
a = "hello world"

index = a.index('z')
print(index)

ValueError: substring not found

In [22]:
find = a.find('z')
print(find)

-1

### The index() function raises an error if the substring is not found, whereas the find() function returns -1 when the substring is not present.

In [23]:
a

'hello world'

In [26]:
a.find("lo")

3

In [35]:
a.find("world",6)

6

# Given sentence = "The quick brown fox jumps over the lazy dog", find the index of the word "jumps".

In [43]:
sentence = "The quick brown fox jumps over the lazy dog"

sentence.find('jumps')

20

# What will "Mississippi".find('i', 2, 5) return and why?

In [37]:
"Mississippi".find('i', 2, 5)

4

# Replace fn()

# Remove all spaces from a string

In [38]:
text = "H e l l o W o r l d"
clean_text = text.replace(" ", "")
print(clean_text)  # Output: "HelloWorld"

HelloWorld

In [41]:
text = "hi!  Hello  world"
print(text)
text.replace("  "," ")

hi!  Hello  world

'hi! Hello world'

# Limiting the Number of Replacements

In [42]:
text = "one, two, one, three, one, four"
# Replace only the first two occurrences of "one"
result = text.replace("one", "1", 2)
print(result)  # Output: "1, two, 1, three, one, four"

1, two, 1, three, one, four

# upper() , lower() ,  capitalize() , title()

In [47]:
sentence = "The quick brown fox jumps over the lazy dog"

sentence.upper()

'THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG'

In [48]:
sentence.lower()

'the quick brown fox jumps over the lazy dog'

In [49]:
sentence.capitalize()

'The quick brown fox jumps over the lazy dog'

In [50]:
sentence.title()

'The Quick Brown Fox Jumps Over The Lazy Dog'

# Join()

# How do you convert the list ["apple", "banana", "cherry"] into the string "apple,banana,cherry"?

In [52]:
fruits = ["apple", "banana", "cherry"]

",".join(fruits)

'apple,banana,cherry'

In [54]:
fruits = {"apple", "banana", "cherry"}

",".join(fruits)

'apple,cherry,banana'

# How do you join list elements with newlines in Python?

In [57]:
my_list = {"apple", "banana", "cherry"}

"\n".join(my_list)

'apple\ncherry\nbanana'

In [4]:
text = "Python"
centered = text.center(39, '-')  # "-------Python-------"
print(len(centered))

39