<a href="https://colab.research.google.com/github/amitporwal-data-science/Python-Programming/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple support multiple data types

In [11]:
a = (1,2.2,"amit", [1,2,3],(1,2,3),{2,3},{"name":"amit","age":25})

In [5]:
a

(1, 2.2, 'amit', [1, 2, 3], (1, 2, 3), {2, 3}, {'name': 'amit', 'age': 25})

# for tuple, we need to specify more than 1 elements in ()

In [6]:
a = (1)
type(a)

int

In [8]:
a = (1,2)
type(a)

tuple

In [10]:
a = (1,2,3)
sum(a)

6

# access elements using nested elements

In [12]:
a

(1, 2.2, 'amit', [1, 2, 3], (1, 2, 3), {2, 3}, {'name': 'amit', 'age': 25})

In [14]:
a[3][2]

3

# tuples support indexing and slicing beacuase it is ordered

In [15]:
a = (1,2,3,4,5,6)

In [16]:
a[2]

3

In [17]:
a[2:5]

(3, 4, 5)

In [19]:
a[-1:-4:-1]

(6, 5, 4)

In [20]:
a[::-1]

(6, 5, 4, 3, 2, 1)

# len()

In [21]:
len(a)

6

# sorted()

In [23]:
b = (5,6,2,1,5,9,7,3,2,6)

In [28]:
sorted(b,reverse = True)

[9, 7, 6, 6, 5, 5, 3, 2, 2, 1]

In [30]:
a = [1,2,3,8,6,474,36]
sorted(a,reverse = True)

[474, 36, 8, 6, 3, 2, 1]

In [35]:
a = ("Jenifer", "Sally", "Jane")
x = sorted(a, key=len,reverse = True)
print(x)

['Jenifer', 'Sally', 'Jane']

In [33]:
sorted(a)

['Jane', 'Jenifer', 'Sally']

# index() : this fn return the index of specified elements

In [36]:
a.index("Sally")

1

# count() : this method return the total occurance of a specified element in tuple

In [37]:
t = (1,5,6,5,1,2,3,2,2,3,5)

t.count(5)

3

# sum()

In [54]:
num = (1,2,3)
sum(num)

6

# zip fn : using it zip 2 tuple into 1 and convert into dictionary

In [38]:
city_name = ("delhi","patna","cuttack","guwahati","lucknow")
river_name = ("yumana","ganga","mahannadi","brahmaputra","gomati")

In [39]:
zip(city_name,river_name)

In [76]:
city_and_their_rivers = dict(zip(city_name,river_name))

In [77]:
print(city_and_their_rivers)

{'delhi': 'yumana', 'patna': 'ganga', 'cuttack': 'mahannadi', 'guwahati': 'brahmaputra', 'lucknow': 'gomati'}

# enumerate fn

In [75]:
x = ('apple', 'banana', 'cherry')
dict(enumerate(x,1))

{1: 'apple', 2: 'banana', 3: 'cherry'}